
# Don't format these folders
node_modules
.next
build
dist

# Don't format these files
package-lock.json
yarn.lock
.env
.env.local

# Don't format images and icons
public/**/*.svg
public/**/*.png
public/**/*.jpg